.pagination {
  width: 350px;
  margin: 0 auto;
  display: flex;

  &__arrow {
    &_start {
      margin-right: 18px;
      width: 18px;
      height: 18px;
    }

    &_end {
      margin-left: 18px;
      width: 18px;
      height: 18px;
    }
  }

  &__list {
    display: flex;
    gap: 36px;
  }

  &__item {
  }

  &__link {
    &_active {
      padding: 8px 14px;
      outline: 2px solid $color-main;
      border-radius: 2px;
    }
  }
}
